@keyframes spinner_container_fadeout {
  0% {
    z-index: 50;
    background-color: #ffffff;
    opacity: 1;
  }

  90% {
    z-index: 50;
    background-color: #ffffff;
    opacity: 1;
  }

  100% {
    z-index: 50;
    background-color: #ffffff;
    opacity: 0;
  }
}

@keyframes spinner-load {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(3turn);
    opacity: 1;
  }
}

@keyframes menucard__textanim {
  0% {
    transform: translateY(6.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menucard__circlecheckanim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
