/* Menu Pages - menu card keyframe animations */

@keyframes menucard__check_anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes menucard__textanim {
  0% {
    transform: translateY(6.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
