/*

- TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 500
Bold: 700

- Line heights: 
Default: 1
Small: 1.05
Medium: 1.2
Large: 1.8
Paragraph default: 1.6

- Letter spacing
-0.5px
-0.75px

- COLORS

Primary:
Main Magenta: #5e1f52
Lighter Magenta: #6b245e

Secondary:
Light Purple: #e0d7fc
Medium Purple: #a696df

Main Dark Grey: #2c2f33
Off White: #fdfcfa


- WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* div {
  border: 1px solid orange;
  margin: 2px;
} */

html {
  font-size: 62.5%;

  /* @include respond(tab-land) {
  font-size: 60%;
} */

  /* @include respond(tab-port) {
  font-size: 60%;
} */

  @include respond(phone) {
    font-size: 58%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
