/*START INTRO SPINNER ELEMENTS*/

.spinnerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: spinner_container_fadeout 4500ms;
  &__graphic {
    opacity: 0;
    animation: spinner-load 4500ms;

    font-size: 10rem;
    color: #9356dc;
  }
}

/*END INTRO SPINNER ELEMENTS*/

/*START GRADIENT BUTTON*/

.gradientbutton {
  width: 20rem;
  height: 4rem;
  margin: 2rem auto 1rem auto;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0.3rem 0.3rem 0.5rem 0.3rem #dddcdc;
  border-radius: 3rem;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #ffffff;
    height: 4rem;
  }
}

/*END GRADIENT BUTTON*/

/*START NARROW SHADOW BOXES*/

.shadowboxNarrow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto 1rem auto;
  width: 32rem;
  height: 5.5rem;
  background-color: #f2f2f2;
  border-radius: 1.8rem;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.3rem #dddcdc;
  &__num {
    display: flex;
    align-content: center;
    width: 2.5rem;
    margin-left: -1rem;
    margin-right: 1rem;
  }
  &__icon {
    display: flex;
    font-size: 2.5rem;
    color: #767676;
    margin-right: 1.5rem;
    &--phone {
      font-size: 2.5rem;
      color: #767676;
      margin-right: 0.75rem;
    }
  }
  &__text {
    font-size: 1.5rem;
  }
  &:hover {
    background-color: #fffafa;
    cursor: pointer;
  }
}

/*END NARROW SHADOW BOXES*/

/*START LARGE SHADOW BOXES*/

.shadowboxLarge {
  display: flex;
  flex-direction: column;
  margin: 1.75rem 1.75rem 1.75rem 1.75rem;
  width: 32.5rem;
  height: 22.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.25rem #dddcdc;
  transition: all 0.35s;
  z-index: 45;
  &__photo {
    width: 32.5rem;
    height: 16.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
  }
  &__caption-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 31.5rem;
    height: 4.8rem;
    background-color: #ffffff;
  }
  &__captiontext {
    display: flex;
    flex-direction: column;
    padding-left: 0.75rem;
    margin-bottom: 0.75rem;
  }
  &__captionheart {
    position: absolute;
    margin-left: 28.5rem;
    margin-top: 0.95rem;
  }
  &__captiongradheart {
    position: absolute;
    margin-left: 28.5rem;
    margin-top: 0.95rem;
    opacity: 0;
    z-index: 4;
    &:hover {
      transition: opacity 500ms;
      opacity: 1;
    }
  }
  &__captionheartsvg {
    z-index: 2;
    width: 2.5rem;
  }
  &:hover {
    box-shadow: 0 0 1rem 0.85rem rgba(221, 220, 220, 0.733);
    transform: translateY(-0.5rem);
  }
}

/*END LARGE SHADOW BOXES*/

/*START MENU CARDS FOR MENU PAGES*/

.menucard {
  display: flex;
  margin: 1rem auto 1rem auto;
  width: 32.5rem;
  height: 8rem;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.3rem #dddcdc;
  &-box {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    width: 32.5rem;
    height: 8rem;
    border-radius: 1.5rem;
    background-color: #ffffff;
  }
  &__text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    animation-name: menucard__textanim;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    text-overflow: ellipsis;
    height: 5.6rem;
    width: 17.5rem;
    font-size: 0.7rem;
    padding: 0 0 0.75rem 1rem;
    margin: 1rem 0;
  }
  &__text h2 {
    line-height: 1.5rem;
  }
  &__text p {
    padding-top: 0.5rem;
    line-height: 1.5rem;
  }
  &__pricecheck-box {
    display: flex;
    cursor: pointer;
    transition-property: transform;
    font-size: 1.5rem;
    transition-duration: 500ms;
    transform: translateX(6rem);
  }
  &__pricecheck-box:hover {
    display: flex;
    transform: translateX(0);
  }
  &__pricecheck-box:hover .menucard__checkbox-icon {
    display: flex;
    animation: menucard__circlecheckanim;
    animation-duration: 1000ms;
  }
  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: menucard__textanim;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    width: 4rem;
  }
  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 8rem;
    background-color: #99e2d0;
  }
  &__checkbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2.25rem;
  }
  &__text--maindish {
    transform: translateY(7rem);
    animation-delay: 750ms;
  }
  &__price--maindish {
    transform: translateY(6.5rem);
    animation-delay: 750ms;
  }
  &__text--desserts {
    transform: translateY(7rem);
    animation-delay: 1500ms;
  }
  &__price--desserts {
    transform: translateY(6.5rem);
    animation-delay: 1500ms;
  }
}

/*END MENU CARDS FOR MENU PAGES*/

/*START ORDER BUTTON*/

.orderButton {
  margin: 0 auto;
  width: 15rem;
  height: 4rem;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0.3rem 0.3rem 0.5rem 0.3rem #dddcdc;
  border-radius: 3rem;
  &:hover {
    cursor: pointer;
  }
  &-box {
    width: 100%;
    height: 8rem;
    max-width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #ffffff;
    height: 4rem;
  }
}
/*END ORDER BUTTON*/
