/* Menu pages - order button */

.btn {
  display: flex;
  font-family: Courgette;
  color: #fdfcfa;
  font-size: 2.2rem;
  text-shadow: 0.2rem 0.2rem #2c2f33;
  background-image: linear-gradient(
      rgba(94, 31, 83, 0.9),
      rgba(94, 31, 83, 0.9)
    ),
    url("../images/spikes_dark.png");
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);

  /* Home page - explore button */

  &__explore-rest {
    border: 3px solid #fdfcfa;
    height: 7rem;
    width: 28rem;
  }

  /* Menu pages - order button */

  &__order-menu {
    border: 3px solid #e0d7fc;
    height: 5rem;
    width: 20rem;
  }

  &__order-menu-box {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
}

.card-how {
  display: flex;
  box-shadow: 0 0 2rem #e0d7fc;
  background-color: #fdfcfa;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 4.5rem;
  border: 1px solid #ddd;
  width: 33.5rem;
  height: 6rem;
  margin: 2rem;
  &-number {
    display: flex;
    position: absolute;
    font-family: Courgette;
    color: #fdfcfa;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#6b245e, #5e1f52);
    top: -0.75rem;
    left: -0.5rem;
    border-radius: 50%;
    border: 3px solid #fdfcfa;
    box-shadow: 0 0 1rem #bdb5d4;
    width: 4.5rem;
    height: 4.5rem;
  }

  &-icon {
    text-align: center;
    color: #a696df;
    font-size: 3rem;
    margin: 4rem 1.25rem 4rem 5rem;
    width: 4.5rem;
  }

  &-text {
    font-family: Courgette;
    color: #2c2f33;
    font-size: 2rem;
    margin-right: 4rem;
  }
}

// Home page restaurant cards

.card {
  &-restaurant {
    display: flex;
    flex-direction: column;
    background-color: #fdfcfa;

    margin: 1.5rem;
    width: 25rem;
    border: 3px solid #fdfcfa;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
  }

  &-restaurant-img-box {
    display: flex;
    height: 14.5rem;
  }

  &-restaurant-img {
    width: 100%;
    object-fit: cover;
  }

  &-restaurant-caption {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #fdfcfa;
    height: 6rem;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  &-restaurant-caption-text {
    font-family: Rubik;
    font-size: 1.2rem;
    font-weight: 400;
    color: #772668;
  }

  &-restaurant-caption-grey {
    color: #2c2f33;
  }

  &-restaurant-caption-heart-ol {
    position: absolute;
    top: 0.75rem;
    left: 21rem;
    color: #2c2f33;
    background-color: #fdfcfa;
    width: 2.5rem;
    z-index: 10;
    opacity: 1;
    transition: all 0.5s;
  }

  &-restaurant-caption-heart {
    position: absolute;
    top: 0.75rem;
    left: 21rem;
    color: #772668;
    width: 2.5rem;
    opacity: 1;
  }

  &-restaurant-caption-heart-ol:hover {
    opacity: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

// Menu page restaurant cards

.menucard {
  display: flex;
  flex-direction: row;
  height: 9rem;
  background-color: #e0d7fc;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
  margin: 1rem 0;
  width: 30rem;
  border-radius: 1.25rem;

  &__heading {
    font-family: Courgette;
    color: #fdfcfa;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem #2c2f33;
  }
  &__text {
    font-family: Rubik;
    width: 22.2rem;
    padding: 1rem;
    animation-name: menucard__textanim;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
  }

  &__text--heading {
    font-size: 1.3rem;
    font-weight: 500;
    color: #772668;
  }

  &__text--description {
    font-size: 1.3rem;
    color: #2c2f33;
  }
  &__pricecheck-box {
    display: flex;
    cursor: pointer;
    font-size: 1.5rem;
    animation-name: menucard__textanim;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
    transition: all 0.5s;
    transform: translateY(20rem);
  }

  &__price {
    display: flex;
    font-family: Rubik;
    align-items: center;
    font-size: 1.5rem;
    width: 4rem;
    transform: translateX(5rem);
    animation-fill-mode: forwards;
    transition: all 0.5s;
    cursor: pointer;
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #772668;
    background-color: #a696df;
    transform: translateX(5rem);
    font-size: 2.2rem;
    transition: all 0.5s;
    width: 5rem;
  }

  /* Menu Pages - menu card hover animations */

  &__pricecheck-box:hover .menucard__price {
    transform: translateX(0rem);
  }
  &__pricecheck-box:hover .menucard__check {
    transform: translateX(0.2rem);
  }

  &__pricecheck-box:hover .menucard__check-icon {
    display: flex;
    animation: menucard__check_anim;
    animation-duration: 1000ms;
  }

  &__text--maindish {
    transform: translateY(8rem);
    animation-delay: 750ms;
  }
  &__pricecheck-box--maindish {
    transform: translateY(8rem);
    animation-delay: 750ms;
  }
  &__text--desserts {
    transform: translateY(8rem);
    animation-delay: 1500ms;
  }
  &__pricecheck-box--desserts {
    transform: translateY(6.5rem);
    animation-delay: 1500ms;
  }
}
